.icono_ubi { max-width: 2em; height: auto; }
#logo-footer { max-width: 200px; height: auto; }
body { margin-top: 70px; color: #343a40; background-color: #f5f5f5; font-weight: bold; box-shadow: 0 0.5% 1.25% rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.3), 0 12px 36px rgba(0, 0, 0, 0.5); } 
main { margin-bottom: 50px; } 
.logoprincipal { max-width: 80%; height: auto; display: block; margin: 0 auto; transition: transform 0.3s ease-in-out; } 
.custom-font { font-size: 16px; margin-bottom: 20px; } 
.titulocontacto { color: darkred; } 
.mb-4 { color: darkred; } 
.sidebar-menu { background-color: #f8f9fa; border-radius: 8px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); padding: 15px; } 
.sidebar-menu ul { list-style: none; padding: 0; } 
.sidebar-menu li { margin-bottom: 10px; } 
.sidebar-menu a { display: block; padding: 10px 20px; border-radius: 20px; background-color: #f8f9fa; color: #333; text-decoration: none; transition: background-color 0.3s, color 0.3s; } 

.sidebar-menu a { transition: all 0.3s ease; } 

.sidebar-menu a .indicator { display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: darkred; margin-right: 10px; }

.sidebar-menu a:hover { transform: scale(1.05); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); } 

.sidebar-menu a:hover { background-color: darkred; } 

.sidebar-menu ul li a.active { background-color: darkred; color: white; } 

.sidebar-menu a.active .indicator { background-color: white; } 

.card-img-top { height: 200px; width: auto; padding: 0; margin: 0; } 

.card-body:hover { transform: scale(1.05); transition: transform 0.3s ease-in-out; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); } 

.logo-container { margin: 0; padding: 30px; border-radius: 15px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); max-width: 100vh; transition: transform 0.3s ease-in-out; position: relative; overflow: hidden; background-color: #333; } 
.logo-container:hover { transform: scale(1.05); } 
.logosup { max-width: 250px; max-height: 200px; } 
.separador-rojo, .separador-rojo-nuevo { border: none; height: 2px; background-color: darkred; margin-top: 10px; margin-bottom: 20px; padding-bottom: 5px; } 
.image-container { position: relative; overflow: hidden; }
 .image-overlay { position: absolute; bottom: 0; left: 0; width: 100%; height: 0; overflow: hidden; background-color: rgba(0, 0, 0, 0.7); transition: height 0.3s ease; display: flex; align-items: center; justify-content: center; } 
 .overlay-content { text-align: center; color: white; padding: 20px; }
  .overlay-image img { max-width: 100%; height: auto; display: block; margin-top: 10px; transition: opacity 0.3s ease; opacity: 0; } 
  
  .image-container:hover .image-overlay { height: 100%; } 
  image-container:hover .overlay-image img { opacity: 1; height: 100%; } 
  .card {transition: transform 0.3s ease;} .card:hover { transform: scale(1.02);} 
  .marcas img { max-width: 150px; } 
  .marcas-texto::after { content: ''; position: absolute; bottom: -5px; left: 0; width: 100%; height: 2px; background-color: darkred; display: block; } 
  .form-group label { font-family: 'Myriad Pro', sans-serif; color: black; } 
  footer { font-family: myriad; padding-top: 30px; text-align: center; box-shadow: 0 -0.5% 1.25% rgba(0, 0, 0, 0.1); border: 3px solid darkred; font-weight: normal; background-color: #333; color: #fff; } .contactofooter, .miemfooter, .pernofooter, .serviciofooter, .certifooter { font-weight: bold; } footer p, footer a { margin-bottom: 5px; font-size: 14px; color: white; font-family: 'Myriad Pro', sans-serif; text-decoration: none; } #footer1 { margin-top: 0px; bottom: 22px; } 
  .footer .subtitulo p { display: inline-block; margin-bottom: 5px; } 
  .tituloubi { font-style: italic; font-weight: bold; font-size: 30px; color: darkred; } 
  .copy_footer { margin: 0 auto; width: fit-content; }
   .custom-font { font-weight: normal; }
   main { padding: 20px; overflow: hidden; } 
   .card-img-top { border: 2px solid #000; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease; } 
   
   .card-img-top:hover { transform: scale(1.1); } 
   .wrapper { background: linear-gradient(218deg, #e4e4e4, #655c5c, #764040); background-size: 600% 600%; -webkit-animation: AnimationName 55s ease infinite; -moz-animation: AnimationName 55s ease infinite; -o-animation: AnimationName 55s ease infinite; animation: AnimationName 55s ease infinite; } @-webkit-keyframes AnimationName { 0%{background-position:97% 0%} 50%{background-position:4% 100%} 100%{background-position:97% 0%} } @-moz-keyframes AnimationName { 0%{background-position:97% 0%} 50%{background-position:4% 100%} 100%{background-position:97% 0%} } @-o-keyframes AnimationName { 0%{background-position:97% 0%} 50%{background-position:4% 100%} 100%{background-position:97% 0%} } @keyframes AnimationName { 0%{background-position:97% 0%} 50%{background-position:4% 100%} 100%{background-position:97% 0%} } 
   
   .custom-bg { background-color: darkred; color: white; height: 50vh; display: flex; justify-content: center; align-items: center; text-align: center; }
   
   .secondary-menu {padding-top: 50px;} .wrapper { padding-top: 50px; } 
   .card-body { background-color: #f9f9f9; padding: 40px; border-radius: 15px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); } .separador-rojo { border-top: 2px solid #ff0000; width: 50px; margin: 20px auto; } .separador-rojo { border-top: 2px solid #ff0000; width: 50px; margin: 20px auto; } .btn-flotante { position: fixed; bottom: 20px; right: 20px; background-color: darkred; color: #fff; border: none; border-radius: 50%; width: 60px; height: 60px; font-size: 24px; text-align: center; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); z-index: 1000; cursor: pointer; display: flex; justify-content: center; align-items: center; transition: transform 0.3s ease-in-out; text-decoration: none; } .btn-flotante:hover { transform: scale(1.02); } .fa-comment-alt { line-height: 60px; } html, body { font-weight: normal; font-family: 'Myriad Pro', sans-serif; height: 100%; margin: 0; display: flex; flex-direction: column; } @media (min-width: 1200px) { .responsive-center { margin-left: auto; margin-right: auto; text-align: center; } .center-img { display: flex; justify-content: center; align-items: center; height: 100%; } } @media (min-width: 988px) { main { margin-right: 250px; transition: margin 0.3s; } .sidebar-menu { position: fixed; top: 70px; right: 0; width: 205px; height: 29vh; } } @media (min-width: 992px) { .original-element { display: none; } .nuevo-elemento { display: block; } } @media (min-width: 988px) { 
    
    .sidebar-menu { top: 70px; right: 10px; z-index: 1000; }
    
    main { margin-right: 0px; padding-left: 0px; } }